# Connection
TRANSPORT_URL=

# Database
DATABASE_URL=
POSTGRES_HOST_AUTH_METHOD=trust

# JWT
JWT_ACCESS_SECRET=your_jwt_access_secret_key
JWT_REFRESH_SECRET=your_jwt_refresh_secret_key
JWT_ACCESS_EXPIRATION=3600 # 1 hour in seconds
JWT_REFRESH_EXPIRATION=604800 # 7 days in seconds