name: User Microservice Testing

permissions:
  contents: read
  checks: write
  pull-requests: write
on:
  push:
    branches:
      - main
      - 'release/*'
  pull_request:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Set up Node.js
        uses: actions/setup-node@v5
        with:
          node-version: 24

      - name: Install dependencies
        run: npm install

      - name: Run tests
        run: npm run test

      - name: Upload test results
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: jest-test-results
          path: reports/junit/test-results.xml

      - name: Publish Test Results
        if: always()
        uses: dorny/test-reporter@v1
        with:
          name: Jest Tests
          path: reports/junit/test-results.xml
          reporter: jest-junit
          fail-on-error: false